<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<welcome-file-list>
		<welcome-file>/start.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>DeleteReviewCon</servlet-name>
		<display-name>DeleteReviewCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.DeleteReviewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateReviewCon</servlet-name>
		<display-name>UpdateReviewCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.UpdateReviewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScrapReviewCon</servlet-name>
		<display-name>ScrapReviewCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.ScrapReviewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlockReviewCon</servlet-name>
		<display-name>BlockReviewCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.BlockReviewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportReviewCon</servlet-name>
		<display-name>ReportReviewCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.ReportReviewCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WriteMessageCon</servlet-name>
		<display-name>WriteMessageCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.messageController.WriteMessageCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMemberCon</servlet-name>
		<display-name>UpdateMemberCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.memberController.UpdateMemberCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FollowMemberCon</servlet-name>
		<display-name>FollowMemberCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.memberController.FollowMemberCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlockMemberCon</servlet-name>
		<display-name>BlockMemberCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.memberController.BlockMemberCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportMemberCon</servlet-name>
		<display-name>ReportMemberCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.memberController.ReportMemberCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FollowRestCon</servlet-name>
		<display-name>FollowRestCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.restCont.FollowRestCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GBRestCon</servlet-name>
		<display-name>GBRestCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.restCont.GBRestCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlockRestCon</servlet-name>
		<display-name>BlockRestCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.restCont.BlockRestCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DatalistCon</servlet-name>
		<display-name>DatalistCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.testCont.DatalistCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CateFeedCon</servlet-name>
		<display-name>CateFeedCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.reviewController.CateFeedCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertInter</servlet-name>
		<display-name>InsertInter</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.memberController.InsertInter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCon</servlet-name>
		<display-name>SearchCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.ajaxCont.SearchCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FeedCon</servlet-name>
		<display-name>FeedCon</display-name>
		<description></description>
		<servlet-class>com.saoe.controllers.ajaxCont.FeedCon</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DeleteReviewCon</servlet-name>
		<url-pattern>/DeleteReviewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReviewCon</servlet-name>
		<url-pattern>/UpdateReviewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScrapReviewCon</servlet-name>
		<url-pattern>/ScrapReviewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlockReviewCon</servlet-name>
		<url-pattern>/BlockReviewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportReviewCon</servlet-name>
		<url-pattern>/ReportReviewCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WriteMessageCon</servlet-name>
		<url-pattern>/WriteMessageCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMemberCon</servlet-name>
		<url-pattern>/UpdateMemberCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowMemberCon</servlet-name>
		<url-pattern>/FollowMemberCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlockMemberCon</servlet-name>
		<url-pattern>/BlockMemberCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportMemberCon</servlet-name>
		<url-pattern>/ReportMemberCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowRestCon</servlet-name>
		<url-pattern>/FollowRestCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GBRestCon</servlet-name>
		<url-pattern>/GBRestCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlockRestCon</servlet-name>
		<url-pattern>/BlockRestCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatalistCon</servlet-name>
		<url-pattern>/DatalistCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CateFeedCon</servlet-name>
		<url-pattern>/CateFeedCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertInter</servlet-name>
		<url-pattern>/InsertInter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCon</servlet-name>
		<url-pattern>/SearchCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedCon</servlet-name>
		<url-pattern>/FeedCon</url-pattern>
	</servlet-mapping>

</web-app>
