<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saoe.mapper.ProfileMapper">

	<select id="selectProfile" resultType="ProfileDTO">
		select id, nick, profile,
		profile_message from member where id = #{id}
	</select>

	<select id="selectProfileFeed" resultType="ProfileFeedDTO">
		select r.review_no
		review_no, r.review_content review_content,
		r.review_post_date
		review_post_date,
		rp.review_pic_src review_pic_src, rest.rest_no
		rest_no, rest.rest_name rest_name
		from review r, review_pic rp,
		restaurant rest
		where r.review_no = rp.review_no
		and r.rest_no =
		rest.rest_no
		and r.id = #{id}
	</select>

	<select id="selectProfileFollower" resultType="ProfileFollowDTO">
		select id, nick,
		profile from member where id in (select actor_id from member_member where
		id = #{id} and member_follow_yn = 1)
	</select>

	<select id="selectProfileFollowing"
		resultType="ProfileFollowDTO">
		select id, nick, profile from member where id in (select
		id from
		member_member where actor_id = #{id} and member_follow_yn = 1)
	</select>

	<select id="selectProfileBlock" resultType="ProfileFollowDTO">
		select id, nick,
		profile from member where id in (select id from member_member where
		actor_id = #{id} and member_block_yn = 1)
	</select>

	<select id="selectProfileReport" resultType="ProfileReportDTO">
		select m.id id,
		m.nick nick, m.profile profile, mm.member_rep_content
		member_rep_content
		from member m, (select * from member_member where
		actor_id = #{id} and
		member_rep_yn = 1) mm
		where m.id = mm.id
	</select>
	
	

	<select id="selectProfileScrapReview" resultType="ProfileFeedDTO">
		select
		r.review_no
		review_no, r.review_content review_content,
		r.review_post_date
		review_post_date,
		rp.review_pic_src review_pic_src,
		rest.rest_no
		rest_no, rest.rest_name rest_name
		from review r, review_pic
		rp,
		restaurant rest, review_member rm
		where r.review_no = rp.review_no
		and r.rest_no = rest.rest_no
		and rm.actor_id = #{id}
		and r.review_no =
		rm.review_no
		and rm.review_scrap_yn = 1
	</select>
	<select id="selectProfileGoodReview" resultType="ProfileFeedDTO">
		select
		distinct(r.review_no)
		review_no, r.review_content review_content,
		r.review_post_date
		review_post_date,
		rp.review_pic_src review_pic_src,
		rest.rest_no
		rest_no, rest.rest_name rest_name
		from review r, review_pic
		rp,
		restaurant rest, review_member rm
		where r.review_no = rp.review_no
		and r.rest_no = rest.rest_no
		and rm.actor_id = #{id}
		and r.review_no =
		rm.review_no
		and rm.review_gb = 1
	</select>
	<select id="selectProfileBadReview" resultType="ProfileFeedDTO">
		select
		distinct(r.review_no) review_no, r.review_content review_content,
		r.review_post_date	review_post_date, rp.review_pic_src review_pic_src, 
		rest.rest_no rest_no, rest.rest_name rest_name	
		from review r, review_pic rp, restaurant rest, review_member rm
		where r.review_no = rp.review_no
		and r.rest_no = rest.rest_no
		and rm.actor_id = #{id}
		and r.review_no =
		rm.review_no
		and rm.review_gb = -1
	</select>
	<select id="selectProfileBlockReview"
		resultType="ProfileFeedDTO">
		select 
		distinct(r.review_no)
		review_no, r.review_content
		review_content,
		r.review_post_date
		review_post_date,
		rp.review_pic_src
		review_pic_src, rest.rest_no
		rest_no, rest.rest_name rest_name
		from
		review r, review_pic rp,
		restaurant rest, review_member rm
		where
		r.review_no = rp.review_no
		and r.rest_no = rest.rest_no
		and rm.actor_id
		= #{id}
		and r.review_no = rm.review_no
		and rm.review_block_yn = 1
	</select>
	<select id="selectProfileReportReview"
		resultType="ProfileFeedDTO">
		select distinct(r.review_no)
		review_no, r.review_content
		review_content,
		r.review_post_date
		review_post_date,
		rp.review_pic_src
		review_pic_src, rest.rest_no
		rest_no, rest.rest_name rest_name,
		rm.review_rep_content member_rep_content
		from
		review r, review_pic rp,
		restaurant rest, review_member rm
		where
		r.review_no = rp.review_no
		and r.rest_no = rest.rest_no
		and rm.actor_id
		= #{id}
		and r.review_no = rm.review_no
		and rm.review_rep_yn = 1
	</select>

	<select id="selectProfileFollowingRest"
		resultType="ProfileRestDTO">
		select rest.rest_no rest_no, rest.rest_name rest_name,
		rest.rest_profile
		rest_profile from restaurant rest, rest_member rest_m
		where
		rest_m.actor_id = #{id} and rest_m.rest_follow_yn = 1 and
		rest.rest_no = rest_m.rest_no
	</select>
	<select id="selectProfileGoodRest" resultType="ProfileRestDTO">
		select
		rest.rest_no rest_no, rest.rest_name rest_name, rest.rest_profile
		rest_profile from restaurant rest, rest_member rest_m where
		rest_m.actor_id = #{id} and rest_m.rest_gb = 1 and rest.rest_no =
		rest_m.rest_no
	</select>
	<select id="selectProfileBadRest" resultType="ProfileRestDTO">
		select rest.rest_no
		rest_no, rest.rest_name rest_name, rest.rest_profile
		rest_profile from
		restaurant rest, rest_member rest_m where
		rest_m.actor_id = #{id} and
		rest_m.rest_gb = -1 and rest.rest_no = rest_m.rest_no
	</select>
	<select id="selectProfileBlockRest" resultType="ProfileRestDTO">
		select
		rest.rest_no rest_no, rest.rest_name rest_name, rest.rest_profile
		rest_profile from restaurant rest, rest_member rest_m where
		rest_m.actor_id = #{id} and rest_m.rest_block_yn = 1 and rest.rest_no
		= rest_m.rest_no
	</select>




</mapper>