<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saoe.mapper.RestMapper">

	<select id="selectRest" parameterType="ReviewDTO"
		resultType="RestaurantDTO">
		select r.rest_no rest_no, r.code_no code_no, r.rest_name
		rest_name, r.rest_profile rest_profile, r.rest_tel rest_tel,
		r.rest_addr rest_addr, r.rest_addr2 rest_addr2,
		r.rest_naver_score rest_naver_score, r.rest_kakao_score rest_kakao_score,
		r.rest_google_score rest_google_score,
		r.rest_score rest_score, r.rest_post_date rest_post_date,
		c.main_cate main_cate, c.sub_cate sub_cate
		from restaurant r, category c
		where r.rest_no = #{rest_no} and r.code_no = c.code_no
	</select>
	
	<select id="selectRestPic" parameterType="ReviewDTO" resultType="RestPicDTO">
		select * from rest_pic where rest_no = #{rest_no}
	</select>
	
	

	<update id="blockRest" parameterType="RestMemberDTO">
		MERGE INTO rest_member
		USING DUAL
		ON (rest_no = #{rest_no} AND actor_id = #{actor_id})
		WHEN NOT
		MATCHED THEN
		INSERT (rest_no, actor_id, rest_block_yn,
		rest_block_date)
		values (#{rest_no}, #{actor_id}, #{rest_block_yn}, sysdate)
		WHEN
		MATCHED
		THEN
		UPDATE SET
		rest_block_yn = #{rest_block_yn}, rest_block_date
		= sysdate
	</update>

	<update id="followRest" parameterType="RestMemberDTO">
		MERGE INTO rest_member
		USING DUAL
		ON (rest_no = #{rest_no} AND actor_id = #{actor_id})
		WHEN NOT
		MATCHED THEN
		INSERT (rest_no, actor_id, rest_follow_yn,
		rest_follow_date)
		values (#{rest_no}, #{actor_id}, #{rest_follow_yn},
		sysdate)
		WHEN
		MATCHED
		THEN
		UPDATE SET
		rest_follow_yn = #{rest_follow_yn},
		rest_follow_date
		= sysdate
	</update>

	<update id="gbRest" parameterType="RestMemberDTO">
		MERGE INTO rest_member
		USING
		DUAL
		ON (rest_no = #{rest_no} AND actor_id = #{actor_id})
		WHEN NOT
		MATCHED THEN
		INSERT (rest_no, actor_id, rest_gb,
		rest_gb_date)
		values
		(#{rest_no}, #{actor_id}, #{rest_gb}, sysdate)
		WHEN
		MATCHED
		THEN
		UPDATE
		SET
		rest_gb = #{rest_gb}, rest_gb_date
		= sysdate
	</update>


</mapper>
  
  