<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saoe.mapper.SearchMapper">
	<select id="search" resultType="SearchDTO">
		select rest_no, rest_name from
		restaurant where rest_name like #{searchWord}
	</select>

	<select id="searchReview" resultType="SearchReviewDTO">
		select
		distinct(r.review_no)
		review_no,
		r.review_content review_content,
		r.review_post_date review_post_date,
		rp.review_pic_src
		review_pic_src,
		rest.rest_no rest_no,
		rest.rest_name rest_name
		from (select * from
		review where rest_no in (select rest_no
		from restaurant where code_no
		in
		((select code_no from category where sub_cate like #{keyword})
		union
		(select code_no from category where main_cate like #{keyword})))) r,
		review_pic rp,
		restaurant rest
		where r.review_no = rp.review_no
		and
		r.rest_no = rest.rest_no
	</select>
	<select id="searchRest" resultType="SearchRestDTO">
		select rest.rest_no rest_no,
		rest.rest_name rest_name, rest.rest_profile
		rest_profile from
		restaurant rest where
		rest.rest_name like #{keyword}
	</select>
	<select id="searchMember" resultType="SearchMemberDTO">
		select id, nick, profile
		from member where nick like #{keyword}
	</select>


</mapper>